ul.slideshow-gallery.ui-sortable img {
    width: 200px;
    height: 150px;  
}

ul.slideshow-gallery.ui-sortable li {   
    float: left;
    margin-right: 30px;
    margin-bottom: 45px;
     
}

ul.slideshow-gallery.ui-sortable {
    display: block;
}

a.slideshow-gallery-remove {   
    position: absolute;
    margin-left: -15px;
    font-size: 30px;
    text-decoration: none;    
    color: #000000;   
    padding: -3px;    
    margin-top: -45px;
}

.add-images {
    width: 100%;
    display: inline-block;
}